{{>html-header}}
	<div class="main">
		<header class="header-main">
			<div class="page-wrapper">
				<button class="button-nav-toggle"><span class="icon">&#9776;</span> Menu</button>
			</div>
		</header>
		<section class="section-stage"></section>
		<div class="page-wrapper">
			{{>body}}
		</div>
	</div>
	<div class="menu">
		<nav class="nav-main">
			<div class="nav-container">
				<ul>
					<li><a href="">About Us</a></li>
					<li><a href="">Services</a></li>
					<li>
						<a href="#">Careers</a>
						<ul>
							<li><a href="#" class="back">Main Menu</a></li>
							<li class="nav-label"><strong>JOBS IN AMERICA</strong></li>
							<li><a href="">Accountant</a></li>
							<li><a href="">Budget Analyst</a></li>
							<li><a href="">Carpenter</a></li>
							<li><a href="">Desktop Publisher</a></li>
							<li><a href="">Electrical Engineer</a></li>
							<li><a href="">Financial Analyst</a></li>
							<li><a href="">Human Resources Specialists</a></li>
							<li><a href="">Loan Officer</a></li>
							<li><a href="">Reporter</a></li>
							<li class="nav-label"><strong>JOBS IN GERMANY</strong></li>
							<li><a href="">Budget Analyst</a></li>
							<li><a href="">Carpenter</a></li>
							<li><a href="">Electrical Engineer</a></li>
							<li><a href="">Financial Analyst</a></li>
							<li><a href="">Human Resources Specialists</a></li>
							<li><a href="">Loan Officer</a></li>
						</ul>
					</li>
					<li><a href="">Downloads</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
{{>html-footer}}