{{>site-header}}
	<div class="main">
		<header class="header-main">
			<div class="page-wrapper">
				<button class="button-nav-toggle">Menu</button>
			</div>
		</header>
		<section class="section-stage"></section>
		<div class="page-wrapper">
			{{>body}}
		</div>
	</div>
	<div class="menu">
		<nav class="nav-main">
			<ul>
				<li><a href="">About Us</a></li>
				<li>
					<a href="">Services We Provide</a>
					<ul>
						<li><a href="" class="back">Main Menu</a></li>
						<li class="nav-label"><strong>THOSE WE SERVE</strong></li>
						<li><a href="">Children, Youth and Families</a></li>
						<li><a href="">Formerly Incarcerated</a></li>
						<li><a href="">Homeless People</a></li>
						<li><a href="">Older Adults</a></li>
						<li><a href="">People with Behavioral Health Issues</a></li>
						<li><a href="">People with Disabilities</a></li>
						<li><a href="">Veterans</a></li>
						<li class="nav-label"><strong>FOCUS AREAS</strong></li>
						<li><a href="">Assistance with Basic Needs</a></li>
						<li><a href="">Community Outreach and Investment</a></li>
						<li><a href="">Correctional Re-Entry Services</a></li>
						<li><a href="">Housing</a></li>
						<li><a href="">Mental Health</a></li>
						<li><a href="">Senior Living and Care</a></li>
						<li><a href="">Substance Abuse</a></li>
					</ul>
				</li>
				<li><a href="">Find Senior Care</a></li>
				<li><a href="">Media Center</a></li>
				<li><a href="">Careers</a></li>
				<li><a href="">Beome a Partner</a></li>
				<li><a href="">Our Advocacy</a></li>
			</ul>
		</nav>
	</div>
{{>site-footer}}